

@page "/chart"

<h3>Chart</h3>


<BlazorChart.Chart Id="chartdiv1" Class="chartdiv" Charts="_chartControl.ChartModels"></BlazorChart.Chart>

<!--<BlazorChart.Chart Id="chartdiv1" Class="chartdiv"></BlazorChart.Chart>

<BlazorChart.Chart Id="chartdiv2" Class="chartdiv"></BlazorChart.Chart>

<BlazorChart.Chart Id="chartdiv3" Class="chartdiv"></BlazorChart.Chart>-->


@code {

    ChartControl _chartControl;

    protected override void OnInitialized()
    {
        _chartControl = new ChartControl();
    }

}
