
@page "/chart"

<h3>Chart</h3>


<BlazorChart.Chart Id="chartdiv1"></BlazorChart.Chart>

<BlazorChart.Chart Id="chartdiv2"></BlazorChart.Chart>

<BlazorChart.Chart Id="chartdiv3"></BlazorChart.Chart>


@code {

}
