@page "/"
@page "/main"

@using System.Drawing
@using BlazorLeaflet.Models
@using ScoutOnline.Core.Geozone


@inject IJSRuntime jsRuntime
@inject ScoutOnline.Core.Map.MapsService MapService
@inject UnitService UnitService

<label style="margin-left:20px">Карта:</label>
<TelerikComboBox Data="MapService.Maps" TextField="Key" ValueField="Key" @bind-Value="CurrentMapType"></TelerikComboBox>

<div id="mapContainer" style="margin-top:10px; width: 100%; height: 90vh;">
    <LeafletMap Map="_mapControl" />
</div>

@code{
    private Map _mapControl;
    Polygon _polyline;
    Marker _marker;

    private LatLng _mapCenterPosition = new LatLng(59.948080f, 30.326621f);

    private TileLayer CurrentLayer;

    private bool _isInitMap = false;    

    private ScoutOnline.Core.Map.MapType _currentMapType = Core.Map.MapType.Openstreet;
    public ScoutOnline.Core.Map.MapType CurrentMapType
    {
        get { return _currentMapType; }
        set
        {
            if (_isInitMap)
            {
                _currentMapType = value;
                OnMapChange(_currentMapType);
            }
        }
    }

    private void OnMapChange(ScoutOnline.Core.Map.MapType mapType)
    {
        var newMap = MapService.Maps[mapType];
        _mapControl.RemoveLayer(CurrentLayer);

        InitCurrentLayer(newMap);

        _mapControl.AddLayer(CurrentLayer);
    }

    private ScopeModel[] scopesGroup;

    protected override async Task OnInitializedAsync()
    {
        //scopesGroup = await UnitService.GetScopes();
    }

    protected override void OnInitialized()
    {
        _mapControl = new Map(jsRuntime)
        {
            Center = _mapCenterPosition,
            Zoom = 13f
        };

        ScoutOnline.Core.Map.MapInfo map = MapService.Maps[_currentMapType];

        InitCurrentLayer(map);


        _mapControl.OnZoom += async (q, w) =>
        {
            Map m = q as Map;
            float zoom = await m.GetZoom();

            if (zoom < 12)
            {
                //не отображаем геозоны
                _mapControl.RemoveLayer(_polyline);
                _mapControl.RemoveLayer(_marker);
            }
            else
            {
                var d = _mapControl.GetLayers().Count;
                if (d < 3)
                { 
                    _mapControl.AddLayer(_polyline);
                    _mapControl.AddLayer(_marker);    
                }
            }
        };

        _mapControl.OnInitialized += () =>
        {
            _mapControl.AddLayer(CurrentLayer);

            var gPoints = new List<Location>()
            {
                new Location(59.948080f, 30.326621f),
                new Location(59.948080f, 30.349121f),
                new Location(59.938080f, 30.349121f),
                new Location(59.938080f, 30.326621f)
            };            
            var geozonePoints = GetGeozonePoints(gPoints);

            _polyline = new Polygon { Shape = geozonePoints, DrawStroke= true, Fill=true, FillColor = Color.Blue };

            _mapControl.AddLayer(_polyline);
            

            var area = Area.GetOuterArea(gPoints);
            if (area != null)
            {
                Location center = area.Value.GetCenter();
                double newCenterLat = center.Latitude + (center.Latitude * 0.00002);
                double newCenterLon = center.Longitude - (center.Longitude * 0.00002);
                Console.WriteLine(newCenterLat);
                Console.WriteLine(newCenterLon);
                _marker = new Marker((float)newCenterLat, (float)newCenterLon);
                _marker.Icon = new Icon() { Html = "geozone name" };
                _mapControl.AddLayer(_marker);
            }

            _isInitMap = true;
        };
    }    

    private void InitCurrentLayer(ScoutOnline.Core.Map.MapInfo map)
    {
        CurrentLayer = new TileLayer
        {
            UrlTemplate = map.BaseUrl,
            Subdomains = map.Subdomains,
            MaximumZoom = map.MaxZoom,
            Attribution = map.Attribution
        };
    }

    private PointF[][] GetGeozonePoints(List<Location> gPoints)
    {
        PointF[][] points = new PointF[1][];

        if (gPoints == null)
        {
            points[0] = new PointF[0];
            return points;
        }
        
        points[0] = new PointF[gPoints.Count];

        for (int i = 0; i < gPoints.Count; i++)
        { 
            points[0][i] = new PointF((float)gPoints[i].Latitude, (float)gPoints[i].Longitude);
        }

        return points;
    }

    
}
