@page "/"
@using System.Drawing
@using BlazorLeaflet.Models
@inject IJSRuntime jsRuntime

Карта:
<select name="example" @onchange="ChangeMap">
    <option value="OpenStreetMap">OpenStreetMap(OSM)</option>
    <option value="Yandex">Yandex</option>
    <option value="Google">Google</option>
</select>
<div id="mapContainer" style="margin-top:10px; width: 100%; height: 90vh;">
    <LeafletMap Map="_map" />
</div>

@code{

    private Map _map;

    private LatLng _startAt = new LatLng(59.948080f, 30.326621f);

    private TileLayer CurrentLayer;

    private void ChangeMap(ChangeEventArgs arg)
    {
        var mapType = arg.Value.ToString();
        _map.RemoveLayer(CurrentLayer);

        if (mapType == "OpenStreetMap")
        {
            CurrentLayer = new TileLayer
            {
                UrlTemplate = "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                Attribution = "&copy; <a href=\"https://www.openstreetmap.org/copyright\">OpenStreetMap</a> contributors",
            };
        }
        else if (mapType == "Yandex")
        {
            CurrentLayer = new TileLayer
            {
                UrlTemplate = "http://vec01.maps.yandex.net/tiles?l=map&v=4.55.2&z={z}&x={x}&y={y}&scale=2&lang=ru_RU",
                Attribution = "&copy; <a href=\"https://www.openstreetmap.org/copyright\">OpenStreetMap</a> contributors",
            };
        }
        else
        {
            return;
        }

        _map.AddLayer(CurrentLayer);
    }

    protected override void OnInitialized()
    {
        _map = new Map(jsRuntime)
        {
            Center = _startAt,
            Zoom = 7.8f
        };

        CurrentLayer = new TileLayer
        {
            UrlTemplate = "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
            Attribution = "&copy; <a href=\"https://www.openstreetmap.org/copyright\">OpenStreetMap</a> contributors",
        };

        _map.OnInitialized += () =>
        {
            _map.AddLayer(CurrentLayer);
        };
    }
}
