@page "/onlinedata"



@inject OnlineDataService OnlineDataService

<div style="margin:25px">

    <h3>Текущие данные</h3>

    @if (unitsOnlineData == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <Telerik.Blazor.Components.TelerikGrid Data="@unitsOnlineData" Height="550" FilterMode="Telerik.Blazor.GridFilterMode.FilterMenu">
        <GridColumns>
            <Telerik.Blazor.Components.GridColumn Field="OnlineData.Date" Title="Date"></Telerik.Blazor.Components.GridColumn>
            <Telerik.Blazor.Components.GridColumn Field="Unit.DeviceName" Title="DeviceName"></Telerik.Blazor.Components.GridColumn>
            <Telerik.Blazor.Components.GridColumn Field="Unit.GarageNumber" Title="GarageNumber"></Telerik.Blazor.Components.GridColumn>
            <Telerik.Blazor.Components.GridColumn Field="Unit.Id" Title="Id"></Telerik.Blazor.Components.GridColumn>
            <Telerik.Blazor.Components.GridColumn Field="OnlineData.SatellitesNumber" Title="SatellitesNumber"></Telerik.Blazor.Components.GridColumn>
            <Telerik.Blazor.Components.GridColumn Field="OnlineData.Speed" Title="Speed"></Telerik.Blazor.Components.GridColumn>
            <Telerik.Blazor.Components.GridColumn Field="OnlineData.FuelLevel" Title="FuelLevel"></Telerik.Blazor.Components.GridColumn>
            <Telerik.Blazor.Components.GridColumn Field="OnlineData.Address" Title="Address"></Telerik.Blazor.Components.GridColumn>
        </GridColumns>
    </Telerik.Blazor.Components.TelerikGrid>        
    }
</div>

@code {

    private IEnumerable<OnlineDataResponse> unitsOnlineData;

    protected override async Task OnInitializedAsync()
    {
        unitsOnlineData = await OnlineDataService.GetOnlineData();
    }
}
