
@using System.Threading.Tasks
@using BlazorChart
@using BlazorChart.Models
@using Microsoft.AspNetCore.Components
@inject IJSRuntime JsRuntime

@foreach(var t in Charts)
{
    <div id="@t.Id" class="@Class"></div>
}

@code {
    [Parameter] public string Id { get; set; }
    [Parameter] public string Class { get; set; }
    [Parameter] public BlazorChart.Models.ChartModel[] Charts { get; set; }
 
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await ChartInterop.Init(JsRuntime, Charts);            
        }
    }

}
